<div class="row">
  <div class="col s12 center-align"><h3>Albums</h3></div>
  <div class="col s12 m6 l4">
    <div class="card hoverable">
      <div class="card-image">
        <img src="https://materializecss.com/images/parallax1.jpg">
        <h3 class="card-title"><strong>Album Title</strong></h3>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-image">
          <img src="https://materializecss.com/images/parallax1.jpg">
          <h3 class="card-title"><strong>Album Title</strong></h3>
        </div>
      </div>
  </div>
  <div class="col s12 m6 l4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="https://materializecss.com/images/parallax1.jpg">
            <h3 class="card-title"><strong>Album Title</strong></h3>
          </div>
        </div>
  </div>
</div>