<div class="container valign-wrapper">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <p class="col s12">User Details:</p>
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>  
      <div class="row">
        <p class="col s12">Change Password:</p>
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <input id="password-confirm" type="password" class="validate">
          <label for="password-confirm">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Featured Photo</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button type="submit" class="btn btn-large waves-effect waves-light col s12">Save</button>
        </div>
      </div>
    </form>
  </div>  
</div>