<div class="row">
  <div class="col s12 center-align"><h3>Dashboard</h3></div>
  <div class="col s12 m12">
    <div class="col s12 m12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#dashboard-profile">Profile</a></li>
        <li class="tab col s3"><a href="#dashboard-session-settings">Session Settings</a></li>
        <li class="tab col s3 disabled"><a href="#dashboard-stats">Statistics</a></li>
      </ul>
    </div>
    <div id="dashboard-profile" class="col s12">
      <app-photographer-dashboard-profile></app-photographer-dashboard-profile>
    </div>
    <div id="dashboard-session-settings" class="col s12">
      <app-photographer-dashboard-session-settings></app-photographer-dashboard-session-settings>
    </div>
    <div id="dashboard-stats" class="col s12">
      <app-photographer-dashboard-statistics></app-photographer-dashboard-statistics>
    </div>
  </div>
</div>  