<div class="section blue lighten-5">
    <div class="row container center-align">
      <h2 class="header">Immortalize your memories</h2>
      <p class="grey-text text-darken-3 lighten-3">Find the best photographer for your event and budget</p>
      <div class="row">
        <div class="input-field col xs8 s12 m8">
          <input placeholder="Search for a name" id="search" type="text" class="validate grey-text text-darken-3 lighten-3">
          <label for="search">Find a photographer</label>
        </div>
        <div class="col s12 m4">
            <button class="btn btn-large waves-effect waves-light" [routerLink]="['/search']" >
              <i class="material-icons left">search</i>
              Search
            </button>
        </div>
      </div>
    </div>
  </div>
<div class="parallax-container" materialize>
  <div class="parallax"><img src="https://materializecss.com/images/parallax1.jpg"></div>
</div>
<div class="section blue lighten-5">
  <div class="row container left-align">
    <h3 class="header">Photographers</h3>
    <p class="grey-text text-darken-3 lighten-3">will be able to advertise their business and connect with their clients immediately.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="https://materializecss.com/images/parallax2.jpg"></div>
</div>
<div class="section blue lighten-5">
  <div class="row container right-align">
    <h3 class="header">Clients</h3>
    <p class="grey-text text-darken-3 lighten-3">will be able to find the right photographer that suits their needs and preferences.</p>
  </div>
</div>
<div class="parallax-container" materialize>
  <div class="parallax"><img src="https://materializecss.com/images/parallax1.jpg"></div>
</div>
<div class="section blue lighten-5">
  <div class="row container center-align">
    <h3 class="header">Sign up now!</h3>
    <p class="grey-text text-darken-3 lighten-3">
      <a href="/register" [routerLink]="['/register']" class="btn btn-large waves-effect waves-light ">Get started</a>  
    </p>
  </div>
</div>  
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light teal modal-trigger pulse" href="#chat-modal">
    <i class="large material-icons">chat</i>
  </a>
</div>