<div class="row">
  <div class="col s12 center-align"><h3>Sessions</h3></div>
  <div class="col s12 m6 l4">
    <div class="card sticky-action hoverable">
      <div class="card-content">
        <h5 class="card-title activator">Client Name<i class="material-icons right">more_vert</i></h5>
        <h6 class="valign-wrapper"><i class="material-icons">today</i> 09/01/2018</h6>
        <h6 class="valign-wrapper"><i class="material-icons">access_time</i> 2:00 PM</h6>
      </div>
      <div class="card-action">
        <a class="valign-wrapper modal-trigger" href="#chat-modal"><i class="material-icons">chat</i>Chat with Client</a>
      </div>
      <div class="card-reveal">
        <h5 class="card-title">Client Name<i class="material-icons right">close</i></h5>
        <p>I am a very simple card. I am good at containing small bits of information.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l4">
      <div class="card sticky-action hoverable">
        <div class="card-content">
          <h5 class="card-title activator">Client Name<i class="material-icons right">more_vert</i></h5>
          <h6 class="valign-wrapper"><i class="material-icons">today</i> 09/01/2018</h6>
          <h6 class="valign-wrapper"><i class="material-icons">access_time</i> 2:00 PM</h6>
        </div>
        <div class="card-action">
          <a class="valign-wrapper modal-trigger" href="#chat-modal"><i class="material-icons">chat</i>Chat with Client</a>
        </div>
        <div class="card-reveal">
          <h5 class="card-title">Client Name<i class="material-icons right">close</i></h5>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card sticky-action hoverable">
          <div class="card-content">
            <h5 class="card-title activator">Client Name<i class="material-icons right">more_vert</i></h5>
            <h6 class="valign-wrapper"><i class="material-icons">today</i> 09/01/2018</h6>
            <h6 class="valign-wrapper"><i class="material-icons">access_time</i> 2:00 PM</h6>
          </div>
          <div class="card-action">
            <a class="valign-wrapper modal-trigger" href="#chat-modal"><i class="material-icons">chat</i>Chat with Client</a>
          </div>
          <div class="card-reveal">
            <h5 class="card-title">Client Name<i class="material-icons right">close</i></h5>
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
        </div>
      </div>
</div>