<div class="container valign-wrapper">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <p class="col s12">Rates (Php):</p>
        <div class="input-field col s6">
          <input id="rate-min" type="number" class="validate">
          <label for="rate-min">Minimum</label>
        </div>
        <div class="input-field col s6">
          <input id="rate-max" type="number" class="validate">
          <label for="rate-max">Maximum</label>
        </div>
      </div>
      <div class="row">
        <p class="col s12">Photography Types:</p>
        <p class="col s6 m4">
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Weddings</span>
          </label>
        </p>
        <p class="col s6 m4">
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Prenup</span>
          </label>
        </p>
        <p class="col s6 m4">
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Birthday</span>
          </label>
        </p>
        <p class="col s6 m4">
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Products</span>
          </label>
        </p>
      </div>
      <div class="row">
        <p class="col s12">Additional Options:</p>
        <div class="col s12">
          Own Transporation
          <div class="switch right">
            <label>
              No
              <input type="checkbox">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
        <div class="col s12">
          Own Studio
          <div class="switch right">
            <label>
              No
              <input type="checkbox">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
        <div class="col s12">
          Hair & Make-up 
          <div class="switch right">
            <label>
              No
              <input type="checkbox">
              <span class="lever"></span>
              Yes
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button type="submit" class="btn btn-large waves-effect waves-light col s12">Save</button>
        </div>
      </div>  
    </form>  
  </div>
</div>