<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="/" [routerLink]="['/']" class="brand-logo">SnapSpace</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li [routerLinkActive]="['active']"><a href="/photographer" [routerLink]="['/photographer']">Dasboard</a></li>
          <li [routerLinkActive]="['active']"><a href="/photographer/inbox" [routerLink]="['/photographer/inbox']">Inbox</a></li>
          <li [routerLinkActive]="['active']"><a href="/photographer/sessions" [routerLink]="['/photographer/sessions']">Sessions</a></li>
          <li [routerLinkActive]="['active']"><a href="/photographer/albums" [routerLink]="['/photographer/albums']">Albums</a></li>
          <li [routerLinkActive]="['active']"><a href="/photographer/calendar">Calendar</a></li>
          <li [routerLinkActive]="['active']" *ngIf="!userService.user"><a href="/login" [routerLink]="['/login']">Login</a></li>
          <li [routerLinkActive]="['active']" *ngIf="userService.user"><a href="#" (click)="userService.logout()">Logout</a></li>
        </ul>
        <h5 class="right" *ngIf="userService.user"> {{ userService.user.firstName }} {{ userService.user.lastName }} | </h5>    
      </div>
    </nav>         
  </div>
  <ul class="sidenav blue-grey lighten-5" id="mobile-demo">
    <li><a href="/home"><i class="material-icons">home</i>Home</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/photographer"><i class="material-icons">dashboard</i>Dasboard</a></li>
    <li><a href="/photographer/inbox"><i class="material-icons">inbox</i>Inbox</a></li>
    <li><a href="/photographer/sessions"><i class="material-icons">queue</i>Sessions</a></li>
    <li><a href="/photographer/albums"><i class="material-icons">photo_library</i>Albums</a></li>
    <li><a href="/photographer/calendar"><i class="material-icons">date_range</i>Calendar</a></li>
    <li><div class="divider"></div></li>
    <li><a href=""><i class="material-icons">info</i>About</a></li>
    <li><a href=""><i class="material-icons">mail</i>Contact Us</a></li>
    <li><a href=""><i class="material-icons">question_answer</i>FAQ</a></li>
    <li><a href="/login"><i class="material-icons">input</i>Login</a></li>
  </ul>   
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="page-footer blue-grey darken-4">
  <div class="container hide-on-small-only">
    <div class="row">
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
        </ul>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © 2018 Copyright SnapSpace
    </div>
  </div>
</footer>
<div id="chat-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <a class="modal-close grey-text right"><i class="material-icons right">close</i></a>
    <div class="center-align valign-wrapper">
      <img src="https://via.placeholder.com/40" alt="" class="circle responsive-img">
      <h5 class="center-align"><strong>Ais</strong></h5>
    </div>
    <div id="messages" class="row">
      <blockquote class="col s12 message">
        This is an example quotation that uses the blockquote tag.
      </blockquote>
      <blockquote class="col s12 message me">
        This is an example quotation that uses the blockquote tag.
      </blockquote>
      <blockquote class="col s12 message">
          This is an example quotation that uses the blockquote tag.
        </blockquote>
        <blockquote class="col s12 message me">
          This is an example quotation that uses the blockquote tag.
        </blockquote>  
    </div>
  </div>
  <div class="modal-footer">
    <form>
      <div class="row">
        <div class="input-field col s9">
          <input type="text" id="chat-message" class="" />
          <label for="chat-message">Message</label>
        </div>
        <div class="input-field col s3">
          <a class="waves-effect waves-green btn-floating pulse">
            <i class="large material-icons">send</i>
            <span class="hide-on-small-only">Submit</span>
          </a>    
        </div>
      </div>
    </form>  
  </div>
</div>
