<div class="row">
  <div class="col s12 center-align"><h3>Inbox</h3></div>
  <div class="col s12 m4">
      <ul class="collection">
          <li class="collection-item avatar red">
            <img src="images/yuna.jpg" alt="" class="circle">
            <span class="title">Client Name</span>
            <p class="truncate">
              Message content
            </p>
            <a class="secondary-content modal-trigger hide-on-med-and-up" href="#chat-modal"><i class="material-icons">chat</i></a>
          </li>
          <li class="collection-item avatar">
              <img src="images/yuna.jpg" alt="" class="circle">
              <span class="title">Client Name</span>
              <p class="truncate">
                Message content
              </p>
              <a class="secondary-content modal-trigger hide-on-med-and-up" href="#chat-modal"><i class="material-icons">chat</i></a>
            </li>
            <li class="collection-item avatar">
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title">Client Name</span>
                <p class="truncate">
                  Message content
                </p>
                <a class="secondary-content modal-trigger hide-on-med-and-up" href="#chat-modal"><i class="material-icons">chat</i></a>
              </li>
              <li class="collection-item avatar">
                  <img src="images/yuna.jpg" alt="" class="circle">
                  <span class="title">Client Name</span>
                  <p class="truncate">
                    Message content
                  </p>
                  <a class="secondary-content modal-trigger hide-on-med-and-up" href="#chat-modal"><i class="material-icons">chat</i></a>
                </li>            
        </ul>
  </div>
  <div class="col m8 hide-on-small-only">
        <div class="card">
            <div class="card-content">
              <div class="card-title valign-wrapper">
                <img src="https://via.placeholder.com/40" alt="" class="circle responsive-img right">
                <h5 class="center-align left"><strong>Ais</strong></h5>
              </div>
              <div id="inbox-messages" class="row">
                  <blockquote class="col s12 message">
                    This is an example quotation that uses the blockquote tag.
                  </blockquote>
                  <blockquote class="col s12 message me">
                    This is an example quotation that uses the blockquote tag.
                  </blockquote>
                  <blockquote class="col s12 message">
                      This is an example quotation that uses the blockquote tag.
                    </blockquote>
                    <blockquote class="col s12 message me">
                      This is an example quotation that uses the blockquote tag.
                    </blockquote>  
                </div>
            </div>
            <div class="card-action">
                <form>
                    <div class="row">
                      <div class="input-field col s9 m10">
                        <input type="text" id="chat-message" class="" />
                        <label for="chat-message">Message</label>
                      </div>
                      <div class="input-field col s3 m2 center-align">
                        <a class="waves-effect waves-green btn-floating pulse">
                          <i class="large material-icons">send</i>
                          <span class="hide-on-small-only">Submit</span>
                        </a>    
                      </div>
                    </div>
                  </form>
            </div>
          </div>  
            
  </div>  
</div>