<div class="container valign-wrapper">
  <div class="row">
    <form class="col s12" (submit)="login()">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" [(ngModel)]="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button type="submit" class="btn btn-large waves-effect waves-light">Login</button>
        </div>
        <div class="input-field col s12 center-align">
          <a href="/register" [routerLink]="['/register']" >Register</a>
        </div>
      </div>
    </form>
  </div>    
</div>