<div class="">
  <div class="row valign-center">
      <div class="input-field col s8 m8">
          <input id="search" type="text" class="validate grey-text text-darken-3 lighten-3">
          <label for="search">Find a photographer</label>
        </div>
        <div class="col s4 m4 center-align">
            <button class="btn btn-large waves-effect waves-light">
              <i class="material-icons">search</i>
              <span class="hide-on-small-only">Search</span>
            </button>
        </div>
  </div>
  <div class="row">
      <div class="card col s12 m4 l-horizontal" *ngFor="let photographer of photographerService.photographers">
          <div class="card-image">
              <img class="activator" src="https://via.placeholder.com/300">
              <a class="btn-floating halfway-fab waves-effect waves-light teal modal-trigger" href="#chat-modal"><i class="material-icons">chat</i></a>
          </div>
          <div class="card-content">
              <span class="card-title activator">{{ photographer.firstName }} {{ photographer.lastName }}<i class="material-icons right">more_vert</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Photographer 1<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
  </div>  
</div>
