<div class="container valign-wrapper">
  <div class="row">
    <form class="col s12" (submit)="register()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="firstName" [(ngModel)]="user.firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lastName" [(ngModel)]="user.lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email" [(ngModel)]="user.email">
          <label for="email">Email</label>
        </div>
      </div>  
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password" [(ngModel)]="user.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password-confirm" type="password" class="validate" name="password_confirm" [(ngModel)]="password_confirm">
          <label for="password-confirm">Confirm Password</label>
        </div>
      </div>
      <!-- Switch -->
      <div class="switch">
        <label>
          User
          <input type="checkbox" name="isPhotographer" [(ngModel)]="isPhotographer">
          <span class="lever"></span>
          Photographer
        </label>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button type="submit" class="btn btn-large waves-effect waves-light">Register</button>
        </div>
        <div class="input-field col s12 center-align">
          <a href="/login" [routerLink]="['/login']">Login</a>
        </div>
      </div>
    </form>
  </div>  
</div>