// @import "bootstrap/scss/bootstrap";
// @import "bootstrap/scss/bootstrap-grid";
// @import "bootstrap/scss/bootstrap-reboot";
@import "materialize-css/sass/materialize";

/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
#inbox-messages,
#messages{
    .message{
        &.me{
            border-left: none;
            border-right: 5px solid #009688 ;
            text-align: right;
        }
    }
}
#chat-modal{
    .modal-footer,
    .row,
    .input-field,
    textarea{
        margin-top: 0;
        margin-bottom: 0;
    }
}